header {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
  align-items: center;
}

.navbar li {
  margin-right: 20px;
}


.navbar li a {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.button {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    background-color: #f4ce14;
    color: #333333;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}